*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: dimgray;
}
#main{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:  10px 10px 30px 40px darkgray;
    opacity: 80%;
    border-radius: 50%;
    margin-top: 25px;
}
#Heading{
    font-size: xxx-large;
}
#Timer{
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slategrey;
    box-shadow: 0 0 50px 10px whitesmoke;
}
#Btns{
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time{
    margin: 5px;
}
.Button button{
    margin: 5px;
    font-size: x-large;
    margin-top: 25px;
}